<section id="wrapper" class="login-register login-sidebar" style="background-image:url(assets/images/page-images/login-back.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <a class="text-center db">
                <img src="assets/images/page-images/logovaca.png" class="logo-big" alt="Home" />
            </a>
            <form *ngIf="!recover" class="form-horizontal form-material" [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="form-label-group">
                    <input class="form-control" type="text" id="user" formControlName="user" [placeholder]="'login.userPlaceholder' | translate">
                    <label for="user">{{'login.userPlaceholder' | translate}}</label>
                    <div *ngIf="loginControls.user.invalid && (loginControls.user.dirty || loginControls.user.touched)" class="error-label">
                        <small *ngIf="loginControls.user.errors.required">
                            {{'generalValidations.required' | translate}}
                        </small>
                    </div>
                </div>
                <div class="form-label-group">
                    <input class="form-control" type="password" id="password" formControlName="password" [placeholder]="'login.passwordPlaceholder' | translate">
                    <label for="password">{{'login.passwordPlaceholder' | translate}}</label>
                    <div *ngIf="loginControls.password.invalid && (loginControls.password.dirty || loginControls.password.touched)" class="error-label">
                        <small *ngIf="loginControls.password.errors.required">
                            {{'generalValidations.required' | translate}}
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-primary pull-left p-t-0">
                            <input id="checkbox-signup" type="checkbox" formControlName="rememberMe" class="filled-in chk-col-light-blue">
                            <label for="checkbox-signup">{{'login.rememberMeCheck' | translate}}</label>
                        </div>
                        <a (click)="recover = true" id="to-recover" class="text-dark pull-right"><i
                                class="fa fa-lock m-r-5" aria-hidden="true"></i>{{'login.forgotPasswordLink' | translate}}</a>
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-black btn-lg btn-block text-uppercase btn-rounded" [disabled]="loginForm.invalid" type="submit">{{'login.submitButton' | translate}}</button>
                    </div>
                </div>
            </form>
            <form *ngIf="recover" class="form-horizontal form-material" [formGroup]="forgotPasswordForm" (ngSubmit)="recoverPassword()">
                <div class="form-group">
                    <div class="col-xs-12">
                        <a (click)="recover = false" class="back-button"><i
                                class="mdi mdi-keyboard-backspace" aria-hidden="true"></i>{{'buttons.back' | translate}}</a>
                        <p class="text-muted">{{'forgotPassword.info' | translate}}</p>
                    </div>
                </div>
                <div class="form-label-group">
                    <input class="form-control" type="email" id="email" formControlName="email" [placeholder]="'forgotPassword.emailPlaceholder' | translate">
                    <label for="email">{{'forgotPassword.emailPlaceholder' | translate}}</label>
                    <div *ngIf="forgotPasswordControls.email.invalid && (forgotPasswordControls.email.dirty || forgotPasswordControls.email.touched)" class="error-label">
                        <small *ngIf="forgotPasswordControls.email.errors.required">
                            {{'generalValidations.required' | translate}}
                        </small>
                        <small *ngIf="forgotPasswordControls.email.errors.email">
                            {{'generalValidations.email' | translate}}
                        </small>
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button [disabled]="loading" class="btn btn-primary btn-lg btn-block text-uppercase" type="submit"><i *ngIf="loading" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                            {{'buttons.send' | translate}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>