<div class="content">
  <div class="login-form">
  <form action="/examples/actions/confirmation.php" method="post">
    <div class="avatar">
      <img src="assets/images/Logo.svg" alt="Avatar">
    </div>
    <h2 class="text-center">Member Login</h2>
    <div class="form-group">
      <input type="text" class="form-control" name="username" placeholder="Username" required="required">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="Password" required="required">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-lg btn-block">INGRESAR</button>
    </div>
    <div class="clearfix">
      <label class="col-xl-12 pull-left checkbox-inline"><input type="checkbox"> Recordarme</label>
      <a  class="col-xl-12 pull-right"> Recuperar Contraseña</a>
    </div>
  </form>
</div>
</div>
