<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                Opciones de Filtro:
                <button class="btn btn-link" (click)="showOneDateFilter()" style="display: inline; ">Filtrar por
                    fecha</button>
                <button class="btn btn-link" (click)="showPeriodFilter()" style="display: inline; ">Filtrar por
                    periodo</button>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="showFilterPeriod">
    <div class="col-12">
        <div class="card">
            <div class="card-body" style="height: 270px;">

                <div class="form-group" style="display: inline-block; margin-right: 130px;">
                    <label>Fecha desde :</label>
                    <my-date-picker name="mydateFechaDesde" [options]="myDatePickerOptions" [(ngModel)]="fromDate"
                        required></my-date-picker>
                </div>

                <div class="form-group" style="display: inline-block;">
                    <label>Fecha hasta :</label>
                    <my-date-picker name="mydateFechaDesde" [options]="myDatePickerOptions" [(ngModel)]="toDate"
                        required></my-date-picker>
                </div>

                <div class="float-right">
                    <select class="custom-select" (change)="setearOperationTypePeriod($event.target.value)"
                        id="operationTypePeriod">
                        <option [value]="operationType" *ngFor="let operationType of operationTypes">{{operationType
                            | dropdownTranslate:'operationTypes'}}</option>
                    </select>
                </div>

                <div class="float-right">
                    <select class="custom-select" (change)="setearPaymentMethodPeriod($event.target.value)"
                        id="paymentMethodPeriod">
                        <option [value]="paymentMethod" *ngFor="let paymentMethod of paymentMethods">{{paymentMethod
                            | dropdownTranslate:'paymentMethods'}}</option>
                    </select>
                </div>

                <div>
                    <button class="btn btn-primary m-r-10" (click)="getOperationsByPeriodWithFilters()"
                        style="display: inline; ">Consultar</button>
                    <button class="btn btn-info" (click)="cleanPeriodFilter()" style="display: inline; ">Limpiar
                        filtros</button>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="showFilterOneDate">
    <div class="col-12">
        <div class="card">
            <div class="card-body" style="height: 270px;">
                <div class="form-group">
                    <label>Fecha:</label>
                    <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="oneDate" required>
                    </my-date-picker>
                </div>

                <div class="float-right">
                    <select (change)="setearPaymentMethodOneDate($event.target.value)" class="custom-select"
                        id="paymentMethodOneDate">
                        <option [value]="paymentMethod" *ngFor="let paymentMethod of paymentMethods">{{paymentMethod
                            | dropdownTranslate:'paymentMethods'}}</option>
                    </select>
                </div>

                <div class="float-right">
                    <select (change)="setearOperationTypeOneDate($event.target.value)" class="custom-select"
                        id="operationTypeOneDate">
                        <option [value]="operationType" *ngFor="let operationType of operationTypes">{{operationType
                            | dropdownTranslate:'operationTypes'}}</option>
                    </select>
                </div>

                <button class="btn btn-primary m-r-10" (click)="getOperationsOneDateWithFilters()"
                    style="display: inline-block;">Consultar</button>
                <button class="btn btn-info" (click)="cleanOneDateFilter()" style="display: inline-block;">Limpiar
                    filtros</button>

            </div>
        </div>
    </div>
</div>


<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">{{'operations.title' | translate}} (
                    <small>{{ page?.totalElements}}</small> )
                </h3>
                <button type="button" class="btn btn-danger float-right mdi"
                    (click)="onBoxAction(TYPEOPERATIONS.SHOW_OPERATIONS)">Historico</button>
                <button type="button" class="btn btn-primary float-right mdi"
                    [routerLink]="['/operacion']">Nueva</button>

                <div class="table-responsive">
                    <table class="table table-hover m-auto" *ngIf="operations">
                        <thead>
                            <tr class="row">
                                <th class="col-2">{{'table.operations.createDateTime' | translate}}</th>
                                <th class="col-2">{{'table.operations.operationType' | translate}}</th>
                                <th class="col-2">{{'table.operations.paymentMethod' | translate}}</th>
                                <th class="col-2">{{'table.operations.total' | translate}}</th>
                                <th class="col-1">{{'table.status' | translate}}</th>
                                <th class="col-3">{{'table.accions' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let operation of operations" class="row">
                                <td class="col-2">{{ operation?.createDateTime | date: 'dd/MM/yyyy h:mm:ss a' }}</td>
                                <td class="col-2">{{ operation?.operationType | dropdownTranslate:'operationTypes' }}
                                </td>
                                <td class="col-2">{{ operation?.paymentMethod | dropdownTranslate:'paymentMethods' }}
                                </td>
                                <td class="col-2">{{operation?.total}}</td>
                                <td class="col-1"><span class="label label-rounded"
                                        [ngClass]="(operation?.disabled)? 'label-danger':'label-success'">{{getOperationStatus(operation) | dropdownTranslate:'operationStatus'}}</span>
                                </td>
                                <td class="col-3">
                                    <div class="button-group">
                                        <button class="btn btn-secondary"
                                            (click)="editOrShowOperation(operation.operationId)">
                                            <i class="mdi mdi-eye-outline" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-info" [disabled]="operation?.disabled"
                                            (click)="editOrShowOperation(operation.operationId, true)">
                                            <i class="mdi mdi-pencil" aria-hidden="true"></i>
                                        </button>
                                        <button [disabled]="operation?.disabled" class="btn btn-danger"
                                            (click)="cancelOperation(operation.operationId)">
                                            <i class="mdi mdi-toggle-switch-off" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading [loading]="loading"></app-loading>
<app-pagination [page]="page" [pages]="pages" (pageNumber)="setPage($event)" *ngIf="operations"></app-pagination>

<app-modal-container [bigModal]="'modal-lg'" [modalTitle]="'operations.monthyOperationsReportTitle'| translate"
    *ngIf="typeSelect" (clickClose)="closeModal()">
    <ng-container *ngIf="typeSelect === TYPEOPERATIONS.SHOW_OPERATIONS">
        <div class="justify-content-between text-justify">
            <p class="h2">Datos de la consulta:</p>
            <br>

            <div class="row">

                <div class="col">
                    <label for="month">Mes a consultar:</label>
                    <select class="custom-select input-lg" id="month" name="month"
                        (change)="setSelectedMonth($event.target.value)">
                        <option *ngFor="let month of availableMonths">{{month}}</option>
                    </select>
                    <br>
                </div>

                <div class="col">
                    <label for="year">Año a consultar:</label>
                    <input class="input-lg" type="number" id="year" name="year" min="2019" value="2019"
                        (change)="setSelectedYear($event.target.value)">
                </div>

            </div>

            <div *ngIf="monthlyOperationsReport != undefined">
                <br>

                <div class="row">
                    <div class="col">
                        <p class="h5">Total de ventas: {{monthlyOperationsReport.totalCountSale}}</p>
                    </div>
                    <div class="col">
                        <p class="h5">Total de dinero por ventas: ${{monthlyOperationsReport.totalMoneySale}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p class="h5">Total de compras: {{monthlyOperationsReport.totalCountBuy}}</p>
                    </div>
                    <div class="col">
                        <p class="h5">Total de dinero por compras: ${{monthlyOperationsReport.totalMoneyBuy}}</p>
                    </div>
                </div>

                <br>
                <p class="h3">Resultado del mes:
                    ${{monthlyOperationsReport.totalMoneySale - monthlyOperationsReport.totalMoneyBuy}}</p>

            </div>

            <button type="button" class="btn btn-danger float-right mdi"
                (click)="viewMonthlyOperationReport()">Consultar</button>




        </div>
    </ng-container>
</app-modal-container>