<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup.enter)="findMeasurementUnit(input.value)" type="search" class="form-control" [placeholder]="'measurementUnit.searchLabel' | translate">
            </div>
        </div>
    </div>
</div>
<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">{{'measurementUnit.title' | translate}} (
                    <small>{{ page.totalElements}}</small> )
                </h3>
                <button type="button" class="btn btn-primary float-right mdi mdi-plus" [routerLink]="['/configuracion/unidadMedida']"></button>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>{{'measurementUnitTable.name' | translate}}</th>
                            <th>{{'measurementUnitTable.symbol' | translate}}</th>
                            <th>{{'measurementUnitTable.status' | translate}}</th>                            
                            <th>{{'measurementUnitTable.accions' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let measurementUnit of measurementUnits">
                            <td>{{ measurementUnit?.name }}</td>
                            <td>{{ measurementUnit?.symbol }}</td>
                            <td><span class="label label-rounded" [ngClass]="(!measurementUnit.disabled)? 'label-success':'label-danger'">{{getMeasurementUnitStatus(measurementUnit)}}</span>
                            </td>
                            <td>
                                <div class="button-group">
                                    <button class="btn btn-secondary" (click)="editOrShowMeasurementUnit(measurementUnit.measurementUnitId)">
                                        <i class="mdi mdi-eye-outline"></i>
                                    </button>
                                    <button class="btn btn-info" (click)="editOrShowMeasurementUnit(measurementUnit.measurementUnitId, true)">
                                        <i class="mdi mdi-account-edit"></i>
                                        </button>
                                    <button class="btn btn-danger" (click)="deleteMeasurementUnit(measurementUnit.name,measurementUnit.measurementUnitId)">
                                        <i class="mdi mdi-account-remove"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<app-loading [loading]="loading"></app-loading>
<app-pagination [page]="page" [pages]="pages" (pageNumber)="setPage($event)" *ngIf="measurementUnits"></app-pagination>