<div class="row">
  <div class="col-md-6">
    <div class="card card-body">
      <ng-container *ngIf="user.username"><h3 class="box-title m-b-0">{{'users.childTitle' | translate}} {{user.username}} </h3></ng-container>
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <form class="form-horizontal form-material" [formGroup]="userForm" (ngSubmit)="saveUser()">
            <div class="form-group m-b-40">
              <label for="username">{{'users.usernamePlaceholder' | translate}}</label>
              <input class="form-control m-t-5" type="text" id="username" formControlName="username">
              <div
                *ngIf="userControls.username.invalid && (userControls.username.dirty || userControls.username.touched)"
                class="error-label">
                <small *ngIf="userControls.username.errors.required">
                  {{'generalValidations.required' | translate}}
                </small>
                <small *ngIf="userControls.username.errors.maxlength" [translate]="'generalValidations.maxLength'"
                       [translateParams]="{param: userControls.username.errors.maxlength.requiredLength}"></small>
              </div>
            </div>
            <div class="form-group m-b-40">
              <label for="email">{{'users.emailPlaceholder' | translate}}</label>
              <input class="form-control m-t-5" type="email" id="email" formControlName="email">
              <div *ngIf="userControls.email.invalid && (userControls.email.dirty || userControls.email.touched)"
                   class="error-label">
                <small *ngIf="userControls.email.errors.required">
                  {{'generalValidations.required' | translate}}
                </small>
                <small *ngIf="userControls.email.errors.email">
                  {{'generalValidations.email' | translate}}
                </small>
              </div>
            </div>
            <div class="form-group m-b-40">
              <label for="rol">{{'users.rolPlaceholder' | translate}}</label>
              <select class="form-control m-t-5" formControlName="rol" id="rol">
                <option [value]="rol" *ngFor="let rol of roles" [selected]="selectedRol(rol)">{{rol | dropdownTranslate: 'roles'}}</option>
              </select>
              <div *ngIf="userControls.rol.invalid && (userControls.rol.dirty || userControls.rol.touched)"
                   class="error-label">
                <small *ngIf="userControls.rol.errors.required">
                  {{'generalValidations.required' | translate}}
                </small>
              </div>
            </div>
            <div class="form-group m-b-40">
              <label for="password">{{'users.passwordPlaceholder' | translate}}</label>
              <input class="form-control m-t-5" type="password" formControlName="password" id="password">
              <div
                *ngIf="userControls.password.invalid && (userControls.password.dirty || userControls.password.touched)"
                class="error-label">
                <small *ngIf="userControls.password.errors.required">
                  {{'generalValidations.required' | translate}}
                </small>
                <small *ngIf="userControls.password.errors.maxlength" [translate]="'generalValidations.maxLength'"
                       [translateParams]="{param: userControls.password.errors.maxlength.requiredLength}"></small>
              </div>
            </div>
            <div class="form-group m-b-40 form-check">
              <input type="checkbox" class="form-check-input" id="enabled" formControlName="enabled">
              <label class="form-check-label" for="enabled">{{'users.enabledPlaceholder' | translate}}</label>
            </div>
            <div class="form-group flex-row m-b-40" *ngIf="!disabledFields; else update">
              <button class="btn btn-primary m-r-10" type="submit" [disabled]="userForm.invalid">
                <i class="fa fa-save"></i>
                {{'buttons.submit' | translate}}
              </button>
              <button (click)="back()" class="btn btn-danger" type="button">
                {{'buttons.cancel' | translate}}
              </button>
            </div>
            <ng-template #update>
              <button *ngIf="disabledFields" class="btn btn-inverse mdi mdi-keyboard-backspace m-r-10" (click)="back()">
                {{'buttons.back' | translate}}
              </button>
            </ng-template>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
