@import "~@ng-select/ng-select/themes/default.theme.css";
#themecolors a {
    cursor: pointer;
}

//COLORS
$general-primary: #e40a3f;
$general-primary1: #bc0a34;
$general-secondary: #434343;
$general-secondary2: #373737;
$general-secondary3: #262424; //logo
$general-white: #FFFFFF;
$general-white1: #e6e6e6;
$error-color:indianred;
.error-label {
    color: $error-color;
}

button.btn-black {
    background-color: $general-secondary;
    color: $general-white1;
}

button,
a {
    cursor: pointer;
}

.btn.disabled,
.btn:disabled {
    opacity: 0.25 !important;
}

div.button-group.row {
    display: flex;
}

.table-responsive {
    .table {
        width: 95% !important;
    }
}

img {
    &.logo-big {
        width: 150px;
        height: 150px;
    }
    &.logo-small {
        width: 60px;
        height: 60px;
    }
    &.logo-small-rec {
        width: 100px;
        height: 60px;
    }
}

div {
    i.med-ico {
        width: 50px;
        height: 50px;
    }
}

.swal-big {
    width: 850px !important;
    height: 500px !important;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
    height: 3.125rem;
    padding: .75rem;
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    cursor: text;
    /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;
}


/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
    .form-label-group>label {
        display: none;
    }
    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}


/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .form-label-group>label {
        display: none;
    }
    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}